@page "/"

<h1>3 Task Lists</h1>

<br />


<div class="row">
    <div class="col-md-4">
        <TaskList Name="Tim"></TaskList>
    </div>    
    <div class="col-md-4">
        <TaskList Name="Sue"></TaskList>
    </div>    
    <div class="col-md-4">
        <TaskList Name="Raf"></TaskList>
    </div>
</div>
